__pycache__
build
dist
Treinamentos
LoogTools.spec
Treinamentos/Videos treinamentos/*.mp4
__pycache__/main.cpython-311.pyc
__pycache__/navigation.cpython-311.pyc
__pycache__/treinamentos.cpython-311.pyc
main.py
__pycache__/troubleshooting.cpython-311.pyc
__pycache__/navigation.cpython-311.pyc
__pycache__/main.cpython-311.pyc
